{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-12">
                <div class="card">
                    <img src="/images/{{ current_account.avatar }}"
                         class="card-img-top mx-auto" id="cardAvatar">
                    <div class="card-body">
                        <h4 class="card-title"><i class="fa fa-user" aria-hidden="true"></i> {{ current_account.name }}</h4>
                        <p class="card-text"><i class="fa fa-envelope" aria-hidden="true"></i> {{ current_account.email }}</p>
                        <hr>
                        <p class="card-text"><i class="fa fa-file-text" aria-hidden="true"></i> {{ current_account.profile }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 col-12">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-activity-tab" data-toggle="tab" href="#nav-stat" role="tab"
                           aria-controls="nav-stat" aria-selected="false">Stat</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                           aria-controls="nav-profile" aria-selected="false">Profile</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-stat" role="tabpanel" aria-labelledby="nav-stat-tab">
                        {% if current_account.role == 'student' %}
                            {% if student_stat_status == 0 %}
                                {% include 'student_stat_base.html' %}
                            {% elif student_stat_status == 1 %}
                                {% include 'student_stat_attempt.html' %}
                            {% elif student_stat_status == 2 %}
                                {% include 'student_stat_attainment.html' %}
                            {% elif student_stat_status == 3 %}
                                {% include 'student_stat_engagement.html' %}
                            {% endif %}
                        {% else %}
                            {#                            {% if staff_stat_status == 0 %}#}
                            {#                                {% include 'staff_stat_base.html' %}#}
                            {#                            {% elif staff_stat_status == 1 %}#}
                            {#                                {% include 'staff_stat_attempt.html' %}#}
                            {#                            {% elif staff_stat_status == 2 %}#}
                            {#                                {% include 'staff_stat_attainment.html' %}#}
                            {#                            {% elif staff_stat_status == 3 %}#}
                            {#                                {% include 'staff_stat_engagement.html' %}#}
                        {% endif %}
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div>
                            <form method="post" enctype="multipart/form-data">
                                <img src="/images/{{ current_account.avatar }}" id="avatar" class="mx-auto d-block img-thumbnail"
                                     style="height: 250px; width: 250px; margin-bottom: 20px;">
                                <div class="form-group row" style="width: 250px; margin: 20px auto; padding-bottom: 20px;">
                                    <div class="custom-file">
                                        <input onchange="fileChange(this)" type="file"
                                               id="inputGroupFile"
                                               aria-describedby="inputGroupFileAddon">
                                        <label class="custom-file-label" id="filenameLabel" for="inputGroupFile">Choose avatar
                                            image</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputNickname" class="col-sm-2 col-form-label"><i class="fa fa-user" aria-hidden="true"></i> Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputNickname" value="{{ current_account.name }}" placeholder="Your name">
                                        <h4 id="inputNicknameVerification"></h4>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-2 col-form-label"><i class="fa fa-envelope" aria-hidden="true"></i> Email</label>
                                    <div class="col-sm-10">
                                        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{ current_account.email }}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-2 col-form-label"><i class="fa fa-key" aria-hidden="true"></i> Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="inputPassword" placeholder="Your password">
                                        <h4 id="inputPasswordVerification"></h4>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="confirmPassword" class="col-sm-2 col-form-label"><i class="fa fa-key" aria-hidden="true"></i> Confirm</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="confirmPassword" placeholder="Repeat your password">
                                        <h4 id="confirmPasswordVerification"></h4>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputProfile" class="col-sm-2 col-form-label"><i class="fa fa-file-text" aria-hidden="true"></i> Profile</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputProfile" value="{{ current_account.profile }}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <button type="button" class="btn btn-success" onclick="updateProfile()">Update Profile
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="/js/custom_js/account.js"></script>
    {% if current_account.role == 'student' %}
        <script type="text/javascript" src="/js/import_js/laydate.js"></script>
        <script type="text/javascript" src="/js/import_js/echarts.js"></script>
        {% if student_stat_status == 0 %}

        {% elif student_stat_status == 1 %}
            <script>
                let attemptBarChart = echarts.init(document.getElementById("attemptBarChart"));

                $(document).ready(function () {
                    laydate.render({
                        elem: '#startDate',
                        lang: 'en'
                    });
                    laydate.render({
                        elem: '#endDate',
                        lang: 'en'
                    });

                    resetData();
                })

                function searchData() {
                    let conditions = {
                        module: '{{ course }}',
                        type: $("#typeDropdown").val(),
                        startDate: $("#startDate").val(),
                        endDate: $("#endDate").val()
                    }

                    $.ajax({
                        url: "{{ url_for('account_bp.stat_attempt_data') }}",
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        data: conditions,
                        success: function (data) {
                            //attempt bar chart
                            let attemptBarChartDataAxis = [];
                            let attemptBarChartData = [];
                            data.forEach(function (d) {
                                attemptBarChartDataAxis.push(d["submit_time"]);
                                attemptBarChartData.push(d["mark"]);
                            })
                            let attemptBarChartOption = {
                                xAxis: {
                                    data: attemptBarChartDataAxis,
                                    axisLabel: {
                                        inside: true,
                                        textStyle: {
                                            color: '#fff'
                                        }
                                    },
                                    axisTick: {
                                        show: false
                                    },
                                    axisLine: {
                                        show: false
                                    },
                                    z: 10
                                },
                                yAxis: {
                                    axisLine: {
                                        show: false
                                    },
                                    axisTick: {
                                        show: false
                                    },
                                    axisLabel: {
                                        textStyle: {
                                            color: '#999'
                                        }
                                    }
                                },
                                dataZoom: [
                                    {
                                        type: 'inside'
                                    }
                                ],
                                series: [
                                    {
                                        type: 'bar',
                                        showBackground: true,
                                        itemStyle: {
                                            color: new echarts.graphic.LinearGradient(
                                                0, 0, 0, 1,
                                                [
                                                    {offset: 0, color: '#83bff6'},
                                                    {offset: 0.5, color: '#188df0'},
                                                    {offset: 1, color: '#188df0'}
                                                ]
                                            )
                                        },
                                        emphasis: {
                                            itemStyle: {
                                                color: new echarts.graphic.LinearGradient(
                                                    0, 0, 0, 1,
                                                    [
                                                        {offset: 0, color: '#2378f7'},
                                                        {offset: 0.7, color: '#2378f7'},
                                                        {offset: 1, color: '#83bff6'}
                                                    ]
                                                )
                                            }
                                        },
                                        data: attemptBarChartData
                                    }
                                ]
                            };
                            // Enable data zoom when user click bar.
                            let attemptBarChartXZoomSize = 6;
                            attemptBarChart.on('click', function (params) {
                                attemptBarChart.dispatchAction({
                                    type: 'dataZoom',
                                    startValue: attemptBarChartDataAxis[Math.max(params.dataIndex - attemptBarChartXZoomSize / 2, 0)],
                                    endValue: attemptBarChartDataAxis[Math.min(params.dataIndex + attemptBarChartXZoomSize / 2, attemptBarChartData.length - 1)]
                                });
                            });
                            attemptBarChart.setOption(attemptBarChartOption);
                        }
                    })
                }

                function resetData() {
                    $("#typeDropdown").val("2");
                    $("#startDate").val("");
                    $("#endDate").val("");

                    let conditions = {
                        module: '{{ course }}',
                        type: 2
                    }

                    $.ajax({
                        url: "{{ url_for('account_bp.stat_attempt_data') }}",
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        data: conditions,
                        success: function (data) {
                            //attempt bar chart
                            let attemptBarChartDataAxis = [];
                            let attemptBarChartData = [];
                            data.forEach(function (d) {
                                attemptBarChartDataAxis.push(d["submit_time"]);
                                attemptBarChartData.push(d["mark"]);
                            })
                            let attemptBarChartOption = {
                                xAxis: {
                                    data: attemptBarChartDataAxis,
                                    axisLabel: {
                                        inside: true,
                                        textStyle: {
                                            color: '#fff'
                                        }
                                    },
                                    axisTick: {
                                        show: false
                                    },
                                    axisLine: {
                                        show: false
                                    },
                                    z: 10
                                },
                                yAxis: {
                                    axisLine: {
                                        show: false
                                    },
                                    axisTick: {
                                        show: false
                                    },
                                    axisLabel: {
                                        textStyle: {
                                            color: '#999'
                                        }
                                    }
                                },
                                dataZoom: [
                                    {
                                        type: 'inside'
                                    }
                                ],
                                series: [
                                    {
                                        type: 'bar',
                                        showBackground: true,
                                        itemStyle: {
                                            color: new echarts.graphic.LinearGradient(
                                                0, 0, 0, 1,
                                                [
                                                    {offset: 0, color: '#83bff6'},
                                                    {offset: 0.5, color: '#188df0'},
                                                    {offset: 1, color: '#188df0'}
                                                ]
                                            )
                                        },
                                        emphasis: {
                                            itemStyle: {
                                                color: new echarts.graphic.LinearGradient(
                                                    0, 0, 0, 1,
                                                    [
                                                        {offset: 0, color: '#2378f7'},
                                                        {offset: 0.7, color: '#2378f7'},
                                                        {offset: 1, color: '#83bff6'}
                                                    ]
                                                )
                                            }
                                        },
                                        data: attemptBarChartData
                                    }
                                ]
                            };
                            // Enable data zoom when user click bar.
                            let attemptBarChartXZoomSize = 6;
                            attemptBarChart.on('click', function (params) {
                                attemptBarChart.dispatchAction({
                                    type: 'dataZoom',
                                    startValue: attemptBarChartDataAxis[Math.max(params.dataIndex - attemptBarChartXZoomSize / 2, 0)],
                                    endValue: attemptBarChartDataAxis[Math.min(params.dataIndex + attemptBarChartXZoomSize / 2, attemptBarChartData.length - 1)]
                                });
                            });
                            attemptBarChart.setOption(attemptBarChartOption);
                        }
                    })
                }
            </script>
        {% elif student_stat_status == 2 %}

        {% elif student_stat_status == 3 %}

        {% endif %}
    {% else %}

    {% endif %}
{% endblock %}