{% extends 'base.html' %}
{% block heads %}
    <link rel="stylesheet" href="/css/import_css/bootstrap-table.min.css">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div id="assessmentId" style="display: none">{{ current_assessment.id }}</div>
            <p id="courseTitle" class="display-4">{{ current_assessment.module }}</p>
        </div>
        <div class="row">
            <h4><b>Title: </b>{{ current_assessment.title }}</h4>
            <button>Edit assessment</button>
        </div>
        <div class="row">
            <h4><b>Release date: </b>{{ current_assessment.availability_date }}</h4>
            <h4><b>Due date: </b>{{ current_assessment.due_date }}</h4>
        </div>
        <div class="row">
            <h4><b>Count in: </b>{{ current_assessment.count_in }}</h4>
            <h4><b>Attempts: </b>{{ current_assessment.attempt }}</h4>
        </div>
        <div class="row">
            <h4><b>Description: </b>{{ current_assessment.description }}</h4>
        </div>
        <div class="row">
            <div class="col">
                <p class="display-4">All questions</p>
                <button class="btn btn-success" onclick="addQuestionToCurrent()">Add question</button>
                <table id="allQuestionTable" data-search="true"></table>
            </div>
            <div class="col">
                <p class="display-4">Current questions</p>
                <button class="btn btn-danger" onclick="deleteQuestionFromCurrent()">Delete question</button>
                <table id="questionTable" data-search="true"></table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="/js/import_js/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="/js/import_js/laydate.js"></script>
    <script>
        $('#allQuestionTable').bootstrapTable({
            url: "{{ url_for('question_bp.question_data',module='All' ) }}".replace("All", $("#courseTitle").text()),  // 请求数据源的路由
            dataType: "json",
            pagination: true, //前端处理分页
            singleSelect: false,//是否只能单选
            search: true, //显示搜索框，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            {#toolbar: '#toolbar-' + courseid, //工具按钮用哪个容器#}
            striped: true, //是否显示行间隔色
            cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pageNumber: 1, //初始化加载第10页，默认第一页
            pageSize: 10, //每页的记录行数（*）
            pageList: [10, 20, 50, 100], //可供选择的每页的行数（*）
            // strictSearch: true,//设置为 true启用 全匹配搜索，false为模糊搜索
            // showColumns: true, //显示内容列下拉框
            // showRefresh: true, //显示刷新按钮
            minimumCountColumns: 2, //当列数小于此值时，将隐藏内容列下拉框
            // clickToSelect: true, //设置true， 将在点击某行时，自动勾选rediobox 和 checkbox
            // height: 500, //表格高度，如果没有设置height属性，表格自动根据记录条数决定表格高度
            uniqueId: "id", //每一行的唯一标识，一般为主键列
            // showToggle: true, //是否显示详细视图和列表视图的切换按钮
            cardView: true, //是否显示详细视图
            // detailView: true, //是否显示父子表，设置为 true 可以显示详细页面模式,在每行最前边显示+号#}
            sidePagination: "client", //分页方式：client客户端分页，server服务端分页（*）
            columns: [
                {
                    title: "selectAll",
                    field: "select",
                    checkbox: true,
                    align: "center"
                }, {
                    field: 'id',
                    title: 'Id'
                }, {
                    field: 'question',
                    title: 'Question',
                }, {
                    field: 'description',
                    title: 'Description'
                }, {
                    field: 'type',
                    title: 'Type'
                }, {
                    field: 'option',
                    title: 'Option',
                    formatter: function (value, row, index) {
                        return value.split("|").join(" ");
                    }
                }, {
                    field: 'answer',
                    title: 'Answer'
                }, {
                    field: 'feedback',
                    title: 'Feedback'
                },]
        });

        $('#questionTable').bootstrapTable({
            url: "{{ url_for('formative_blueprint.assessment_questions',assessment_id='assessment_id' ) }}".replace("assessment_id", $("#assessmentId").text()),  // 请求数据源的路由
            dataType: "json",
            pagination: true, //前端处理分页
            singleSelect: false,//是否只能单选
            search: true, //显示搜索框，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            {#toolbar: '#toolbar-' + courseid, //工具按钮用哪个容器#}
            striped: true, //是否显示行间隔色
            cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pageNumber: 1, //初始化加载第10页，默认第一页
            pageSize: 10, //每页的记录行数（*）
            pageList: [10, 20, 50, 100], //可供选择的每页的行数（*）
            strictSearch: true,//设置为 true启用 全匹配搜索，false为模糊搜索
            // showColumns: true, //显示内容列下拉框
            // showRefresh: true, //显示刷新按钮
            minimumCountColumns: 2, //当列数小于此值时，将隐藏内容列下拉框
            // clickToSelect: true, //设置true， 将在点击某行时，自动勾选rediobox 和 checkbox
            // height: 500, //表格高度，如果没有设置height属性，表格自动根据记录条数决定表格高度
            uniqueId: "id", //每一行的唯一标识，一般为主键列
            //showToggle: true, //是否显示详细视图和列表视图的切换按钮
            cardView: true, //是否显示详细视图
            // detailView: true, //是否显示父子表，设置为 true 可以显示详细页面模式,在每行最前边显示+号#}
            sidePagination: "client", //分页方式：client客户端分页，server服务端分页（*）
            columns: [
                {
                    title: "selectAll",
                    field: "select",
                    checkbox: true,
                    align: "center"
                }, {
                    field: 'id',
                    title: 'Id'
                }, {
                    field: 'question',
                    title: 'Question'
                }, {
                    field: 'description',
                    title: 'Description'
                }, {
                    field: 'type',
                    title: 'Type'
                }, {
                    field: 'option',
                    title: 'Option',
                    formatter: function (value, row, index) {
                        return value.split("|").join(" ");
                    }
                }, {
                    field: 'answer',
                    title: 'Answer'
                }, {
                    field: 'feedback',
                    title: 'Feedback'
                },]
        });

        laydate.render({
            elem: '#releaseTime',
            lang: 'en',
            type: 'datetime'
        });
        laydate.render({
            elem: '#dueDate',
            lang: 'en',
            type: 'datetime'
        });

        function addQuestionToCurrent(){
            let selectedQuestions = $('#allQuestionTable').bootstrapTable('getSelections');
            let param = "";
            selectedQuestions.forEach(function (item) {
                param += item["id"] + "=id&";
            })
            param = param.substring(0, param.length - 1);
            $.post('{{ url_for('formative_blueprint.add_question_to_assessment', assessment_id='assessmentId') }}'.replace("assessmentId",{{ current_assessment.id }}), param, function (data) {
                if (!jQuery.isEmptyObject(data)) {
                    alert(data);
                    $('#questionTable').bootstrapTable('refresh');
                }
            })
        }

        function deleteQuestionFromCurrent(){
            let selectedQuestions = $('#questionTable').bootstrapTable('getSelections');
            let param = "";
            selectedQuestions.forEach(function (item) {
                param += item["id"] + "=id&";
            })
            param = param.substring(0, param.length - 1);
            $.post('{{ url_for('formative_blueprint.delete_question_from_assessment', assessment_id='assessmentId') }}'.replace("assessmentId",{{ current_assessment.id }}), param, function (data) {
                if (!jQuery.isEmptyObject(data)) {
                    alert(data);
                    $('#questionTable').bootstrapTable('refresh');
                }
            })
        }

    </script>
{% endblock %}