{% extends 'base.html' %}
{% block content %}
    {#    <h2>#}
    {#        This is content in summative html#}
    {#    </h2>#}
    {#    <form action="" method="post">#}
    {#        {{ form.csrf_token() }}#}
    {#        {{ form.title.label }} {{ form.title }}#}
    {#        {{ form.submit.label }} {{ form.submit }}#}
    {#    </form>#}
{#    {{ message }}#}
    <div class="container">
        <form action="" method="post" id="module_choice_form" class="row">
            <p id="courseTitle" class="col-8 display-4"></p>
            {{ form.module(class="custom-select col-4", placeholder="Please Choose a Module") }}
{#            {% for error in form.module.errors %}#}
{#                <span style="color: red;">[ {{ error }} ]</span><br>#}
{#            {% endfor %}#}
            <!-- Module selection -->

        </form>
        <div>
            <button type="button" class="btn btn-success">New Assessment</button>
            <button type="button" class="btn btn-danger" onclick="deleteQuestion()">Delete Assessment</button>
        </div>
        <hr>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-current-tab" data-toggle="tab" href="#nav-current"
                   role="tab"
                   aria-controls="nav-current" aria-selected="false">Current Assessments</a>
                <a class="nav-item nav-link" id="nav-pass-tab" data-toggle="tab" href="#nav-pass" role="tab"
                   aria-controls="nav-pass" aria-selected="false">Passed Assessments</a>
            </div>
        </nav>
        <table id="assessmentTable" data-toggle="table"></table>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="/js/import_js/bootstrap-table.min.js"></script>
    <script>
        $('#assessmentTable').bootstrapTable({
            url: '/assessments/assessments_management/formative/current/' + $.trim($("#module").val().split(":")[0]),  // 请求数据源的路由
            dataType: "json",
            pagination: true, //前端处理分页
            singleSelect: false,//是否只能单选
            search: true, //显示搜索框，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            {#toolbar: '#toolbar-' + courseid, //工具按钮用哪个容器#}
            striped: true, //是否显示行间隔色
            cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pageNumber: 1, //初始化加载第10页，默认第一页
            pageSize: 10, //每页的记录行数（*）
            pageList: [10, 20, 50, 100], //可供选择的每页的行数（*）
            strictSearch: true,//设置为 true启用 全匹配搜索，false为模糊搜索
            // showColumns: true, //显示内容列下拉框
            // showRefresh: true, //显示刷新按钮
            minimumCountColumns: 2, //当列数小于此值时，将隐藏内容列下拉框
            // clickToSelect: true, //设置true， 将在点击某行时，自动勾选rediobox 和 checkbox
            // height: 500, //表格高度，如果没有设置height属性，表格自动根据记录条数决定表格高度
            uniqueId: "id", //每一行的唯一标识，一般为主键列
            showToggle: true, //是否显示详细视图和列表视图的切换按钮
            // cardView: true, //是否显示详细视图
            // detailView: true, //是否显示父子表，设置为 true 可以显示详细页面模式,在每行最前边显示+号#}
            sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
            columns: [
                {
                    title: "selectAll",
                    field: "select",
                    checkbox: true,
                    align: "center"
                },
                {
                    field: 'id',
                    title: 'Id'
                }, {
                    field: 'title',
                    title: 'Title'
                }, {
                    field: 'release_time',
                    title: 'Release Time'
                }, {
                    field: 'deadline',
                    title: 'Deadline'
                }, {
                    field: 'operation',
                    title: 'Operation',
                    formatter: function () {
                        return '<a href="#">edit</a>'
                    }
                }]
        });

        $("#module").on('change', function () {
            $("#courseTitle").text(this.value.split(':')[1]);
            let status = $("#nav-tab").children(".active")[0].id == 'nav-current-tab'?'current':'pass';

            $("#assessmentTable").bootstrapTable('refresh', {
                url: '/assessments/assessments_management/formative/'+status +'/'+ $.trim($("#module").val().split(":")[0])
            });
        })

        $("#nav-current-tab").on('click',function () {
            $("#assessmentTable").bootstrapTable('refresh', {
                url: '/assessments/assessments_management/formative/'+'current/' + $.trim($("#module").val().split(":")[0])
            });
        })

        $("#nav-pass-tab").on('click',function () {
            $("#assessmentTable").bootstrapTable('refresh', {
                url: '/assessments/assessments_management/formative/' +'pass/'+ $.trim($("#module").val().split(":")[0])
            });
        })

        function deleteQuestion() {
            let datas = $('#currentTable').bootstrapTable('getSelections');
            let param = "";
            datas.forEach(function (item) {
                param += item["id"] + "=id&";
            })
            param = param.substring(0, param.length - 1);
            $.post('/assessments/assessments_management/formative/data/', param, function (data) {
                if (!jQuery.isEmptyObject(data)) {
                    alert(data);
                    $("#currentTable").bootstrapTable('refresh', {
                        url: '/assessments/assessments_management/formative/current/' + $.trim($("#module").val().split(":")[0])
                    });
                }
            })
        }
    </script>
{% endblock %}