main {
    margin: 1vh 1vw;
}

footer div {
    font-style: italic;
    background-color: #343a40;
    color: rgba(255,255,255,.5);
    margin: 0 1vw;
    padding: 0.5vh 1vw;
    border-radius: 5px;
}

.review-results-title {
    text-align: center;
}

.review-statement-box {
    margin-bottom: 5vh;
    background-color: lightgray;
}

.review-comment {
    margin: 1vh 0;
    box-shadow: 2px 2px 5px black;
}

/* Summative form CSS elements */
#summative_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90vw;
    margin: auto;
}

#datetime {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
}

.review-complete-statement {
    font-style: italic;
}