body * {
    font-family: 'Raleway', sans-serif;
}

main {
    margin: 1vh 1vw;
}

footer div {
    font-style: italic;
    background-color: #343a40;
    color: rgba(255, 255, 255, .5);
    margin: 0 1vw;
    padding: 0.5vh 1vw;
    border-radius: 5px;
}

/* Styles for review pages*/
.review-results-statement-title {
    text-align: center;
}

.review-results-page-title {
    text-align: center;
}


.review-statement-box {
    margin-bottom: 5vh;
    background-color: lightgray;
    padding: 1vh 1vw;
    border-radius: 5px;
    width: 60vw;
    position: relative;
}

.review-comment {
    margin: 1vh 0;
    box-shadow: 2px 2px 5px black;
}

.review-complete-statement {
    font-style: italic;
}

.review-comment-input {
    width: 60vw;
    height: 10vh;
    min-height: 10vh;
    max-height: 10vh;
}

.radio-group-error {
    font-weight: bold;
    color: #C70039;
    position: absolute;
    z-index: 1;
    left: 102%;
    bottom: 40%;
    /* reference 3 May https://stackoverflow.com/questions/51309415/how-to-force-span-width-to-length-of-inner-text*/
    white-space: nowrap;
}
/* Summative form CSS elements */
#summative_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90vw;
    margin: auto;
}

#datetime {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
}


/* Formative CSS elements */
.table {
    table-layout: fixed;
}

.table tbody tr td {
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
}


