{% extends 'base.html' %}

{% block content %}
    <p>This is a review for {{ assessment.title }}</p>
    <form action="" method="post">
        {{ form.csrf_token() }}

        <div>
            <p>{{ form.statement1.label }}</p>
            {% for option in form.statement1 %}
                {{ option }}
                {{ option.label }}
            {% endfor %}

        </div>

        <div>
            <p>{{ form.statement2.label }}</p>
            {% for option in form.statement2 %}
                {{ option }}
                {{ option.label }}
            {% endfor %}

        </div>

        <div>
            <p>{{ form.comment.label }}</p>
            {{ form.comment }}
        </div>

        <div>
            {{ form.submit }}
        </div>
    </form>

    {% include '_flash-messages.html' %}
{% endblock %}