{% extends 'base.html' %}

{% block content %}
    <h1>This is a review for {{ assessment.title }}.</h1>
    {% include '_review-instruction.html' %}

    <form action="" method="post">
        {{ form.csrf_token() }}

        {% set statements = [form.statement1, form.statement2] %}

        {% for statement in statements %}
            {% include '_review-statement.html' %}
        {% endfor %}

        {% include '_review-comment.html' %}

        {% include '_review-submit.html' %}
    </form>

    {% include '_flash-messages.html' %}
{% endblock %}