{% extends 'base.html' %}

{% block content %}
    <p>This is a review for the question: <span style="font-style:italic;">{{ question.description }}</span></p>
    <p>Please indicate your level of agreement with each of statements below.</p>
    <form action="" method="post">
        {{ form.csrf_token() }}

        <div class="review-statement-box">
            <p>1. {{ form.statement1.label }}</p>
            {% for option in form.statement1 %}
                {{ option }}
                {{ option.label }}
            {% endfor %}
        </div>

        <div class="review-statement-box">
            <p>2. {{ form.statement2.label }}</p>
            {% for option in form.statement2 %}
                {{ option }}
                {{ option.label }}
            {% endfor %}

        </div>

        <div>
            <p>{{ form.comment.label }}</p>
            {{ form.comment }}
        </div>

        <div>
            {{ form.submit }}
        </div>
    </form>

    {% include '_flash-messages.html' %}
{% endblock %}