<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>AAT</title>
    {% endif %}
</head>
<body>
<header>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>