{% extends 'base.html' %}
{% block content %}
    <h2>
        This is content in summative html
    </h2>
    <form action="" method="post">
        {{ form.csrf_token() }}
        {{ form.title.label }} {{ form.title }} <br>
        <!-- <input type="date" id="start_date" name="start_date" value="YYYY-MM-DD", min="" max="2099-12-31"required></input>
        <input type="time" id="start_time" name="start_time" min="09:00" max="17:00" required></input> -->

        <!-- <input type="date" id="end_date" name="end_date" value="YYYY-MM-DD", min="" max="2099-12-31" required></input>
        <input type="time" id="end_time" name="end_time" min="09:00" max="17:00" required></input> -->

        {{ form.start_date.label }} {{ form.start_date}}
        {{ form.start_time.label }} {{ form.start_time }}

        {{ form.end_date.label }} {{ form.end_date }}
        {{ form.end_time.label }} {{ form.end_time }}

        
        <!-- Question check boxes -->
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Add Question?</th>
                </tr>
            </thead>
            <tbody>
                {% for question in questions %}
                    <tr>
                        <th scope="row">{{ question.id }}</th>
                        <td>{{ question.name }}</td>
                        <td>{{ question.description }}</td>
                        <td>
                            <input type="checkbox" id="{{ question.id }}" name="{{ question.id }}" value="{{ question.id }}">

                        </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
        <!-- Module selection -->
        {{ form.module.label }} {{ form.module }}<br>
        <!-- Date/time selections -->
        {{ form.description.label }} {{ form.description }}<br>
        {{ form.submit.label }} {{ form.submit }}
    </form>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}