{% extends 'base.html' %}
{% block content %}
    <h2>
        New Assessment
    </h2>
    <form action="" method="post">
        {{ form.csrf_token() }}
        {{ form.title(class="form-control", maxlength="64", placeholder="Please Enter a Title") }}<br>

        <div id="datetime">
        <!-- Date/time selections -->
            <div id="date_form">
                {{ form.start_date.label }} {{ form.start_date(class="input-group date") }}
            </div>
            <div id="time_form">
                {{ form.start_time.label }} {{ form.start_time(class="form-control timepicker") }}
            </div>
            <br>
            <div id="date_form">
                {{ form.end_date.label }} {{ form.end_date(class="input-group date") }}
            </div>
            <div id="time_form">
                {{ form.end_time.label }} {{ form.end_time(class="form-control timepicker") }}
            </div>

        </div> <br>
        
        <!-- Question check boxes -->
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Add Question?</th>
                </tr>
            </thead>
            <tbody>
                {% for question in questions %}
                    <tr>
                        <th scope="row">{{ question.id }}</th>
                        <td>{{ question.name }}</td>
                        <td>{{ question.description }}</td>
                        <td>
                            <input type="checkbox" id="{{ question.id }}" name="{{ question.id }}" value="{{ question.id }}">

                        </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
        <!-- Module selection -->
        {{ form.module(class="custom-select", placeholder="Please Choose a Module") }}
        {% for error in form.module.errors %}
           <span style="color: red;">[ {{ error }} ]</span><br>
        {% endfor %} 
        
        {{ form.timelimit(class="form-control", min=0, max=300, type="number", placeholder="Minutes") }}
        <br>{{ form.description(class="form-control", maxlength="512", placeholder="Please Enter a Description") }}<br>
        {{ form.submit(class="btn btn-secondary") }}
    </form>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}