{% extends 'base.html' %}
{% block heads %}
    <link rel="stylesheet" href="/css/import_css/bootstrap-table.min.css">
{% endblock %}

{% block content %}
    {#    <h1>Question Management</h1>#}
    {#    <ul>#}
    {#        {% for question in questions %}#}
    {#            {% set module = question.get_module() %}#}
    {#            <li>#}
    {#                {{ question.name }} from {{ module.code }} {{ module.name }} -#}
    {#                <a href="#">Edit</a>#}
    {#                <a href="#">Delete</a>#}
    {#                <a href="{{ url_for('satisfaction_result_bp.question_review_result', id=question.id) }}">View reviews</a>#}
    {#            </li>#}
    {#        {% endfor %}#}
    {#    </ul>#}

    <div class="container">
        <h1>Question Management</h1>

        <div class="row" style="margin: 0;">
            <select id="moduleDropdown" class="form-control col-3" style="margin-right: 10px;">
                <option>All</option>
                {% for m in modules %}
                    <option>{{ m.code }}</option>
                {% endfor %}
            </select>
            {#            <select id="sortDropdown" class="form-control col-3" style="margin-right: 10px;">#}
            {#                <option>Sort by id</option>#}
            {#                <option>Sort by time asc</option>#}
            {#                <option>Sort by time desc</option>#}
            {#                <option>Sort by module</option>#}
            {#            </select>#}
            <!-- Button trigger modal -->
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#questionDetail" style="margin-right: 10px;">
                Create Question
            </button>

            <!-- Modal -->
            <div class="modal fade" id="questionDetail" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Question Detail</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="row">
                                    <div class="form-group col">
                                        <label for="moduleDetail">Module</label>
                                        <select id="moduleDetail" class="form-control">
                                            {% for m in modules %}
                                                <option>{{ m.code }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group col">
                                        <label for="typeDetail">Type</label>
                                        <select id="typeDetail" class="form-control">
                                            <option>formative-type-one</option>
                                            <option>formative-type-two</option>
                                            <option>summative</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="questionNameDetail">Question Name</label>
                                    <input type="text" class="form-control" id="questionNameDetail" placeholder="Question Name Detail">
                                </div>
                                <div class="form-group">
                                    <label for="questionDescriptionDetail">Question Description</label>
                                    <textarea type="text" class="form-control" id="questionDescriptionDetail" placeholder="Question Description Detail"></textarea>
                                </div>
                                <div class="form-group" id="optionDetailGroup">
                                    <label for="optionDetail">Question Options</label>
                                    <div class="row">
                                        <div class="col" id="optionGroup">
                                        </div>
                                        <div class="col" id="addOptionGroup">
                                            <button type="button" class="btn btn-primary" onclick="addQuestionOption(this)" id="addQuestionBtn">Add Option</button>
                                            <button type="button" class="btn btn-primary" onclick="createQuestionOption(this)" style="display: none;" id="createOptionBtn">Create
                                                Option
                                            </button>
                                            <input type="text" class="form-control" placeholder="" id="optionInput" style="display: none;">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="questionAnswerDetailGroup" style="display: none">
                                    <label for="questionAnswerDetail">Answer</label>
                                    <input type="text" class="form-control" id="questionAnswerDetail" placeholder="Answer">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="createQuestion()">Create</button>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-danger" style="margin-right: 10px;" onclick="deleteQuestion()">Delete question</button>
        </div>

        <table id="btTable" data-toggle="table"></table>

    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="/js/import_js/bootstrap-table.min.js"></script>
    <script>

        $('#btTable').bootstrapTable({
            url: '/question/management/data/All',  // 请求数据源的路由
            dataType: "json",
            pagination: true, //前端处理分页
            singleSelect: false,//是否只能单选
            search: true, //显示搜索框，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            {#toolbar: '#toolbar-' + courseid, //工具按钮用哪个容器#}
            striped: true, //是否显示行间隔色
            cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pageNumber: 1, //初始化加载第10页，默认第一页
            pageSize: 10, //每页的记录行数（*）
            pageList: [10, 20, 50, 100], //可供选择的每页的行数（*）
            strictSearch: true,//设置为 true启用 全匹配搜索，false为模糊搜索
            // showColumns: true, //显示内容列下拉框
            // showRefresh: true, //显示刷新按钮
            minimumCountColumns: 2, //当列数小于此值时，将隐藏内容列下拉框
            // clickToSelect: true, //设置true， 将在点击某行时，自动勾选rediobox 和 checkbox
            // height: 500, //表格高度，如果没有设置height属性，表格自动根据记录条数决定表格高度
            uniqueId: "id", //每一行的唯一标识，一般为主键列
            showToggle: true, //是否显示详细视图和列表视图的切换按钮
            // cardView: true, //是否显示详细视图
            // detailView: true, //是否显示父子表，设置为 true 可以显示详细页面模式,在每行最前边显示+号#}
            sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
            columns: [
                {
                    title: "selectAll",
                    field: "select",
                    checkbox: true,
                    align: "center"
                }, {
                    field: 'id',
                    title: 'Id'
                }, {
                    field: 'module',
                    title: 'Module'
                }, {
                    field: 'question',
                    title: 'Question'
                }, {
                    field: 'description',
                    title: 'Description'
                }, {
                    field: 'type',
                    title: 'Type'
                }, {
                    field: 'option',
                    title: 'Option'
                }, {
                    field: 'answer',
                    title: 'Answer'
                }, {
                    field: 'release_time',
                    title: 'Release Time'
                }, {
                    field: 'operation',
                    title: 'Operation',
                    formatter: function (value, row, index) {
                        return '<button class="btn btn-outline-primary" data-toggle="modal" data-target="#questionDetail" onclick="editQuestion(' + row.id + ')">edit</button>'
                    }
                }, {
                    field: 'review',
                    title: 'Review',
                    formatter: function (value, row, index) {
                        let reviewUrl = "{{ url_for('satisfaction_result_bp.question_review_result',id='questionId' ) }}".replace('questionId', row.id);
                        return '<a href="' + reviewUrl + '">review</a>'
                    }
                }]
        });

        $("#moduleDropdown").on("change", function () {
            let questionDataUrl = "{{ url_for('question_bp.question_data',module='All' ) }}".replace("All", this.value);
            $("#btTable").bootstrapTable('refresh', {url: questionDataUrl});
        });
        $("#typeDetail").on("change", function () {
            if ($("#typeDetail").get(0).selectedIndex == 0) {
                $("#questionAnswerDetailGroup")[0].style.display = 'none';
                $("#optionDetailGroup")[0].style.display = 'block';
            } else {
                $("#questionAnswerDetailGroup")[0].style.display = 'block';
                $("#optionDetailGroup")[0].style.display = 'none';
            }
        });

        function createQuestion() {
            let param = "";
            param += 'module_code=' + $("#moduleDetail").val();
            param += '&name=' + $("#questionNameDetail").val();
            param += '&type=' + $("#typeDetail").get(0).selectedIndex;
            param += '&description=' + $("#questionDescriptionDetail").val();
            {#let options = "{'option1': 1, 'option2': 2, 'option3': 3}";#}
            let options = $("#optionGroup")[0].children
            let optionStr = '';
            for (let i = 0; i < options.length; i++) {
                optionStr += '{' + options[i].children[0].id + ':' + options[i].children[0].value + '}';
            }
            param += '&option=' + optionStr;
            if ($("input[name='optionDetail']:checked")[0] != undefined) {
                let answer = $("input[name='optionDetail']:checked")[0].value;
                param += '&answer=' + answer;
            }

            $.post('{{ url_for('question_bp.create_question') }}', param, function (data) {
                if (!jQuery.isEmptyObject(data)) {
                    alert(data);
                    $('#btTable').bootstrapTable('refresh');
                }
            })
        }

        function addQuestionOption(e) {
            let optionCount = $("#optionGroup")[0].children.length + 1;
            $('#optionInput')[0].style.display = 'block';
            $('#optionInput').attr('placeholder', 'Option' + optionCount);
            $('#optionInput').val('');
            e.disabled = true;
            $('#createOptionBtn')[0].style.display = 'block';
        }

        function createQuestionOption(e) {
            let optionCount = $("#optionGroup")[0].children.length + 1;
            $('#optionGroup').append('<div class="form-check">\n' +
                '<input class="form-check-input" type="radio" name="optionDetail" id="optionDetail' + optionCount + '" value="' + $('#optionInput').val() + '">\n' +
                '<label class="form-check-label" for="optionDetail' + optionCount + '">' + $('#optionInput').val() + '</label>\n' +
                '</div>')
            e.style.display = 'none';
            $('#optionInput')[0].style.display = 'none';
            $('#addQuestionBtn')[0].disabled = false;
        }

        function editQuestion(id) {
            $.get('{{ url_for('question_bp.edit_question',id='id') }}'.replace("id", id), "", function (data) {
                if (!jQuery.isEmptyObject(data)) {
                    let modules = $("#moduleDetail")[0].children;
                    modules.forEach(function (module) {
                        module.selected = 'false';
                    });
                    modules.forEach(function (module) {
                        if (module.text == data[0]['module_code']) {
                            module.selected = 'selected';
                        }
                    });
                    let types = $("#typeDetail")[0].children;
                    types.forEach(function (type) {
                        type.selected = 'false';
                    });
                    types.forEach(function (type) {
                        if (type.index == data[0]['type']) {
                            type.selected = 'selected';
                        }
                    });
                    $("#questionNameDetail").val(data[0]['name']);
                    $("#questionDescriptionDetail").val(data[0]['description']);
                }
            })
        }

        function deleteQuestion() {
            let datas = $('#btTable').bootstrapTable('getSelections');
            let param = "";
            datas.forEach(function (item) {
                param += item["id"] + "=id&";
            })
            param = param.substring(0, param.length - 1);
            $.post('{{ url_for('question_bp.delete_question') }}', param, function (data) {
                if (!jQuery.isEmptyObject(data)) {
                    alert(data);
                    $('#btTable').bootstrapTable('refresh');
                }
            })
        }
    </script>
{% endblock %}