{% extends 'base.html' %}
{% block content %}
    {% include '_flash-messages.html' %}
    <h1>
            Welcome to <span style="text-shadow:1px 1px 1px grey">automAATiq</span>
    </h1>
    {% if current_user.role == 'student' %}
        {% if current_user.has_reviewed_aat_recently() %}
            You must wait {{ current_user.get_days_until_next_aat_review() }} days before leaving another review
        {% else %}
            <p><a href="{{ url_for('satisfaction_review_bp.aat_review') }}">Leave a review for the AAT</a></p>
        {% endif %}
    {% elif current_user.role == 'lecturer' %}
        <a href="{{ url_for('satisfaction_result_bp.aat_review_results') }}">View AAT review results</a>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}